 {% extends 'Account/base.html' %}
  {% block content %}
        
        <!------------------------------ Single product details------------------------------>
        <div class="small-container single-product">
            
            
            <!--<h2 class="title" >Featured Products</h2>-->
            <div class="row">
                    <div class="col-2">
                        <a href="products-details.html"><img src="{{product_dict.imageurl}}" width="100%" id="productImg"></a>
                    </div>
                
                    <div class="col-2">
                        <p><a href="{% url 'home' %}">Home</a> /<a href="{% url 'category_url' %}{{product_dict.category|slugify}}">{{product_dict.category}}</a></p>
                        <h1>{{product_dict.name}}</h1>
                        {% if product_dict.price_new %}
                            <span><strike>₹{{product_dict.price}}</strike></span>
                            <h4>₹{{product_dict.price_new}}</h4>
                        {% else %}
                            <h4>₹{{product_dict.price}}</h4>
                        {% endif %}
                        <input type="number" value="1">
                        <a href="cart.html" class="btn">Add to Cart</a>
                        <h3>Product Details <i class="fa fa-indent" ></i></h3>
                        <br>
                        <p>{{product_dict.description}}</p>
                    </div>
                </div>
            </div>
        
        
        <!----------------------------------Title------------------------------------->
        <div class="small-container">
            <div class="row row-2">
                <h2>Related Products</h2>
                <a href="{% url 'category_url' %}{{product_dict.category|slugify}}"><p>View More</p></a>
            </div>
        </div>
                
        <!----------------------------------products------------------------------------->
        <div class="small-container">
             <div class="row">
                     
                    {% for key,product in Related_Products_dict.items %}
                    <div class="col-3">
                        <a href="{% url 'product_url' %}{{product.pro_slug}}"><img src="{{product.imageurl}}"></a>
                        <a href="{% url 'product_url' %}{{product.pro_slug}}"><h4>{{product.name}}</h4></a>
                        
                        <p>₹ {{product.price_new}}</p>
                    </div>
                    {% endfor %}
                </div>
        </div>

        <!----------------------------------footer------------------------------------->
       
        
        
        <!-----------------------js for product gallery-------------------->
        
        
{% endblock %}