{% extends 'Account/base.html' %}
{% block content %}
        <!------------------------------ cart items details------------------------------>

        <div class="small-container cart-page">
        <table id='cart-items-table'>
            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Subtotal</th>
            </tr>
            
            
            
            </table>
            
            <div class="total-price">
                <table>
                    <tr>
                        <td>Subtotal</td>
                        <td id='Subtotal'></td>
                    </tr>
                    <tr>
                        <td>Tax</td>
                        <td><strike>₹35.00</strike></td>
                    </tr>
                    <tr>
                        <td>Total</td>
                        <td id='Total'></td>
                    </tr>
                </table>
                
            </div>
            <div class="checkout">
                <a href="{% url 'checkout' %}">Proceed to CheckOut &#8594;</a>
            </div>
        </div>
        <script>
            cart_url="{% url 'cart' %}"

            function deletecart(delete_id){
                $('.generated').remove();
                $.ajax({
                        url:cart_url,
                        type:'post',
                        data:{'delete_id':delete_id},
                        success:function(res){
                            console.log(res)
                            getcart()
                            
                    }
            })
        }
            function rendercart(k,obj){
                        cart_items = document.getElementById('cart-items-table')
                        
                       cart_tr=document.createElement('tr')
                       cart_tr.setAttribute('class','generated')
                       cart_tr.innerHTML="<td><div class='cart-info'><img src="+obj.imageurl+"><div><p>"+obj.name+"</p><small>Price: ₹"+obj.price+"</small><br><button class=removebutton onclick='deletecart("+obj.id+")'>Remove</button></div></div></td><td><input id='cart_item_quantity' onchange=updatecart("+obj.id+") type='number' value="+obj.quantity+"></td><td>₹"+obj.total+"</td>"
                        cart_items.appendChild(cart_tr)

            }
            getcart_url="{% url 'getcart' %}"
            function getcart(){
                    $('.generated').remove();
                    $.ajax({
                        url:getcart_url,
                        type:'get',
                        success:function(res){
                            console.log(res)
                            var total=0
                                for(var k in res){
                                    total=total+res[k].total
                                    rendercart(k,res[k])
                                }
                                console.log(total)
                            document.getElementById('Subtotal').innerHTML="₹"+total
                            document.getElementById('Total').innerHTML="₹"+total
                    }
            })
            }
            getcart()
            function updatecart(cart_id){
                    $.ajax({
                        url:cart_url,
                        type:'post',
                        data:{
                            'update_id':cart_id,
                            'quantity':document.getElementById('cart_item_quantity').value
                        },
                        success:function(res){
                            getcart()
                    }
            })
        }
        </script>
        
        
{% endblock %}