{% extends 'Account/base.html' %}
{% block content %}
        <!------------------------------ customer details------------------------------>
		<div style="margin: auto; width: 60%; padding: 10px;" class="main-container">
		<span id='notice' class="account-header">Reset Your Password</span>
       <div  class="container">
            <div  class="reset-input" >
            <div class="reset" id="reset">
                <div class="mob-input">
                <form action="" method="POST">
                    <span  class="mob-input">Enter Phone No or Email</span>
                    <input id='userdata' name="userdata" class="input" type="text">
                </div> 
                <button type="submit">Submit</button>
                </form>
            </div>
                
           
    </div>
		</div>
        <!----------------------------------footer------------------------------------->
 {% endblock %}