
        {% extends 'Account/base.html' %}
        {% block content %}
        
        <!------------------------------ customer details------------------------------>
		<div class="main-container">
		<span class="account-header">My Account</span>
		<div class="category-row">
		<div class="account">	
		<ul class="account-category">
			<li id="option1" onclick="btn1()">
				<div class="category-list">
					<span class="category-list-item">Personal</span>
				</div>
			</li>
			<li onclick="btn2()" id="option2">
				<div class="category-list">
					<span class="category-list-item">Addresses</span>
				</div>
			</li>
			<li onclick="btn3()" id="option3">
				<div class="category-list">
					<span class="category-list-item">My Orders</span>
				</div>
			</li>
			
		</ul>
	   </div>
       <div class="details-container">
		<div id="div1" class="list-content">
            
             <div class="first_row">
				<div class="third_category">
					<span class="category_name">Name</span>
					<input id='user_name' class="account_input" value='{{user.name}}' type="text">
				</div>
			</div>
			<div class="first_row">
				<div class="third_category">
					<span class="category_name">Email</span>
					<input id='user_email' class="account_input" value='{{user.email}}' type="email">
				</div>
            </div>
			<div class="first_row">
				<div class="third_category">
					<span class="category_name">Phone Number</span>
					<input id='user_phone' class="account_input" value='{{user.phone}}' type="text">
				</div>
            </div>
				<button onclick="edituserdetails()" class="account-button">Save &#8594;</button>
		    </div>
            <script>
                user_url="{% url 'account' %}"
                
                function edituserdetails(){
                    user_name=document.getElementById('user_name').value
                    user_email=document.getElementById('user_email').value
                    user_phone=document.getElementById('user_phone').value
                    if((user_name=='{{user.name}}') && user_email=='{{user.email}}' && user_email=='{{user.phone}}'){
                        console.log(user_name,user_email,user_email)
                        console.log('no changes')
                    }else{
                        data={'name':user_name,'email':user_email,'phone':user_phone}
                        console.log(data)
                        $.ajax({
                            url:user_url,
                            type:'post',
                            data:{
                                'name':user_name,
                                'email':user_email,
                                'phone':user_phone
                            },success:function(res){
                                document.getElementById('modelmessage').innerHTML=res.message
                                if(res.success){
                                    document.getElementById('trueimage').style.display='block'
                                    document.getElementById('falseimage').style.display='none'
                                }else{
                                    document.getElementById('trueimage').style.display='none'
                                    document.getElementById('falseimage').style.display='block'
                                }
                                $("#exampleModalCenter").modal();
                            }
                        })
                    }
                }
            </script>
        <div id="div2" class="cat-content">
            <ul class="address-list" id="addresses">
                <li id="add_address" onclick="input_toggle()"> 
                    <div onclick="input_toggle()" class="add-address">
                    <span onclick="input_toggle()">Add address</span>

                </div>
            </li>
        </ul>
            </div>
            <div class="address-input" id="div3">
            <div class="add-name">
                <span class="name-title">Name</span>
                <input id='fullname' class="inputs" type="text">
            </div>
            <div class="add-mob">
                <span class="add-mob">Phone Number</span>
                <input id='mobile_no' class="inputs" type="text">
            </div> 
            <div class="add-area">
                <span class="add-flatno">Building Details</span>
                <input id='building_details'class="inputs" type="text">
            </div>
            <div class="add-area">
                <span class="add-area">Locality Details</span>
                <input id='locality_details' class="inputs" type="text">
            </div>
            <div class="add-state">
                <span class="add-state">State</span>
                <input id='state' class="inputs" type="text">
            </div>
            <div class="add-area">
                <span class="add-pincode">PIN</span>
                <input id='pin_code' class="inputs" type="text">
            </div>
               <button id='savebutton' onclick="addaddress()">Save</button>
               <script>
                   address_url="{% url 'address' %}"
                   editaddress_url="{% url 'editaddress' %}"
                    function deleteaddress(id){
                        $('.generated').remove();
                        $.ajax({
                            url:editaddress_url,
                            type:'POST',
                            data:{'delete_id':id},
                            success:function(res){
                                getaddress()
                                document.getElementById('modelmessage').innerHTML=res.message
                                if(res.success){
                                    document.getElementById('trueimage').style.display='block'
                                    document.getElementById('falseimage').style.display='none'
                                }else{
                                    document.getElementById('trueimage').style.display='none'
                                    document.getElementById('falseimage').style.display='block'
                                }
                                $("#exampleModalCenter").modal();
                                console.log(res)
                        }
                    })
                }
                    function saveeditedaddress(id){
                        document.getElementById('savebutton').setAttribute('onclick','addaddress()')
                        console.log(document.getElementById('savebutton').getAttribute('onclick'))
                       $('.generated').remove();
                        $.ajax({
                            url:editaddress_url,
                            type:'POST',
                            data:{
                                'edit_id':id,
                                'fullname':document.getElementById('fullname').value,
                                'mobile_no':document.getElementById('mobile_no').value,
                                'pin_code':document.getElementById('pin_code').value,
                                'building_details':document.getElementById('building_details').value,
                                'locality_details':document.getElementById('locality_details').value,
                                'state':document.getElementById('state').value,
                            },
                            success:function(res){
                                getaddress()
                                
                                 document.getElementById('modelmessage').innerHTML=res.message
                                if(res.success){
                                    document.getElementById('trueimage').style.display='block'
                                    document.getElementById('falseimage').style.display='none'
                                }else{
                                    document.getElementById('trueimage').style.display='none'
                                    document.getElementById('falseimage').style.display='block'
                                }
                                $("#exampleModalCenter").modal();
                                save()
                                console.log(res)
                            }
                        })
                        //save()
                   }
               

                    


                    function editaddress(id){
                        input_toggle()
                        $.ajax({
                            url:editaddress_url,
                            type:'get',
                            data:{'id':id},
                            success:function(res){
                                console.log(res)
                                document.getElementById('fullname').value=res.fullname
                                document.getElementById('mobile_no').value=res.mobile_no
                                document.getElementById('pin_code').value=res.pin_code
                                document.getElementById('building_details').value=res.building_details
                                document.getElementById('locality_details').value=res.locality_details
                                document.getElementById('state').value=res.state
                                var fun_name="saveeditedaddress("+id+")"
                                document.getElementById('savebutton').setAttribute('onclick',fun_name)
                            }
                        })
                        
                        console.log(id)
                    }


                   function renderaddress(k,obj){
                       address_ul=document.getElementById('addresses')
                       address_li=document.createElement('li')
                       address_li.setAttribute('class','generated')
                       address_li.innerHTML="<div class='address1'><span class='address-1'>Address-"+k+"</span><div class='division'></div><span class='address-name'>"+obj.fullname+"</span><span class='address-flat'>"+obj.building_details+"</span><span class='address-locality'>"+obj.locality_details+"</span><span class=address-locality>"+obj.state+"</span><span class='address-pin'>"+obj.pin_code+"</span><span class='address-phone'>"+obj.mobile_no+"</span><div class='address-buttons'><button onclick='editaddress("+obj.id+")'>edit</button><button onclick='deleteaddress("+obj.id+")'>Remove</button></div></div>"
                        address_ul.appendChild(address_li)
                    }
                   function getaddress(){
                       $.ajax({
                           url:address_url,
                            type:'GET',
                            success:function(res){
                                console.log(res)
                                for(var k in res){
                                    renderaddress(k,res[k])
                                }
                            }
                       })
                   }
                   getaddress()
                   function addaddress(){
                       $('.generated').remove();
                        $.ajax({
                            url:address_url,
                            type:'POST',
                            data:{
                                'fullname':document.getElementById('fullname').value,
                                'mobile_no':document.getElementById('mobile_no').value,
                                'pin_code':document.getElementById('pin_code').value,
                                'building_details':document.getElementById('building_details').value,
                                'locality_details':document.getElementById('locality_details').value,
                                'state':document.getElementById('state').value,
                            },
                            success:function(res){
                                getaddress()
                                 document.getElementById('modelmessage').innerHTML=res.message
                                if(res.success){
                                    document.getElementById('trueimage').style.display='block'
                                    document.getElementById('falseimage').style.display='none'
                                }else{
                                    document.getElementById('trueimage').style.display='none'
                                    document.getElementById('falseimage').style.display='block'
                                }
                                $("#exampleModalCenter").modal();
                                save()
                                console.log(res)
                            }
                        })
                        //save()
                   }
               </script>
            <!--<button onclick="save()">save</button>-->
            </div>
            
            </div>
            <div class="cartContent" id="cart-content">
                <table id='ordershistory' >
                    <tr>
                        <th>Product</th>
                        <th>Unit Price</th>
                        <th>Subtotal</th>
                        <th>Address</th>
                        <th>Status</th>
                    </tr>
                    
                    
                    </table>
            </div>
            <script>
                getorderdetails = "{% url 'getorderdetails' %}"
                function getorders(){
                    $.ajax({
                    url :getorderdetails,
                    type:'get',
                    success:function(res){
                        ordershistory=document.getElementById('ordershistory')
                        for(var k in res){
                            console.log(res[k])
                            namestring=''
                            pricestring = ''
                            for (var i in res[k].products_dict){
                                namestring = namestring+"<p>"+res[k].products_dict[i].name +" x " +res[k].products_dict[i].quantity+"</p>"
                                pricestring = pricestring+"<p>"+res[k].products_dict[i].product_price+"</p>"
                            }
                            order_tr = document.createElement('tr')
                            name_td = document.createElement('td')
                            name_div = document.createElement('div')
                                name_div.innerHTML = namestring
                            name_td.appendChild(name_div)

                            price_td = document.createElement('td')
                            price_div = document.createElement('div')
                                price_div.innerHTML = pricestring
                            price_td.appendChild(price_div)
                            order_tr.appendChild(name_td)
                            order_tr.appendChild(price_td)
                            order_tr.innerHTML = order_tr.innerHTML+"<td> ₹"+res[k].total+"</td><td>"+res[k].address+"</td><td>"+res[k].status+"</td>"
                            ordershistory.appendChild(order_tr)
                        }
                    }
                })    }    
                getorders()
            </script>
		</div>
        <div class="secondContainer">
        </div>
    </div>
		</div>
                <!-----------------------------------js for toggle menu-------------------------------------->
        <script>
            var menuItems=document.getElementById("MenuItems");
            
            MenuItems.style.maxHeight="0px";
            function menutoggle(){
                if(MenuItems.style.maxHeight == "0px"){
                    MenuItems.style.maxHeight="200px";
                }
                else{
                    MenuItems.style.maxHeight="0px";
                }
            }

          var div1 = document.getElementById('div1');
          var div2 = document.getElementById('div2');
          var div3 = document.getElementById('div3');
          var addresses = document.getElementById('addresses')
          var cart = document.getElementById("cart-content");
            function btn1(){
               if( div1.style.visibility == "visible"){
                
                div2.style.visibility = "hidden";
                addresses.style.visibility = "hidden";
                cart.style.visibility = "hidden";

               }
               else {
                div1.style.visibility = "visible";
                div2.style.visibility = "hidden";
                addresses.style.visibility = "hidden";
                cart.style.visibility = "hidden";


               }
               
            }
            function btn2(){
                if( div2.style.visibility == "visible"){
                 
                 cart.style.visibility = "hidden";



                }
                else {
                 div2.style.visibility = "visible";
                 div1.style.visibility = "hidden";
                 addresses.style.visibility = "visible";
                 cart.style.visibility = "hidden";



                }
                
             }

             function btn3(){
                if(cart.style.visibility = "hidden"){
                 cart.style.visibility = "visible";
                 div2.style.visibility = "hidden";
                 div1.style.visibility = "hidden";
                 addresses.style.visibility = "hidden";
                 div3.style.visibility = "hidden";

                }
                else {
                 cart.style.visibility = "hidden";
                 div2.style.visibility = "hidden";
                 div1.style.visibility = "hidden";
                 addresses.style.visibility = "hidden";
                 div3.style.visibility = "hidden";

                }
                
             }

             function input_toggle(){
                if( div3.style.visibility == "visible"){
                    div3.style.visibility = "hidden";
                    addresses.style.visibility = "visible";

                }
                else {
                    div3.style.visibility = "visible";
                    addresses.style.visibility = "hidden";
                }
             }
             function save(){
                div3.style.visibility = "hidden";
                addresses.style.visibility = "visible";
             }
            
               
        </script>
 {% endblock %}