{% extends 'Account/base.html' %}
{% block content %}
        <!------------------------------ customer details------------------------------>
		<div style="margin: auto; width: 60%; padding: 10px;" class="main-container">
		<span id='notice' class="account-header">Reset Your Password</span>
       <div  class="container">
            <div  class="reset-input" >
            <div class="new_password" id="new_password">
                <form action="" method="POST">
            <div class="mob-input">
                <span  class="mob-input">Enter Password</span>
                <input id='password1' name='password1' class="input" type="password">
            </div> 
            <div class="mob-input">
                <span  class="mob-input">Confirm Password</span>
                <input id='password2' name='password2' class="input" type="password">
            </div> 
            <button class="btn" style="width: 20%;" type="submit">Submit</button>
            </form>
            </div>
    </div>
		</div>
        <!----------------------------------footer------------------------------------->
 {% endblock %}